body{
  font-family: Arial;
  background: #f0f0f0;
  text-align: center;
  padding: 50px;
}

.container{
  background: white;
  padding: 40px;
  width: 350px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.btn{
  background: #007bff;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
